@font-face {
  font-family: 'open24display';
  src: url('open24display.ttf')  format('truetype')
}

body {
	background-color: #222222;
	font-family: 'open24display';
	color: #FF0000;
	font-size: 120px;
	text-align: center;
	padding: 15px;
}

table {
	margin: 0 auto;
}

.datalabel, .datavalue {
	font-size: 120px;
	padding: 30px 50px;
}

.datavalue {
	text-align: right;
}

.datalabel {
	text-align: left;
}

.slope {
	padding-top: 20px;
}

#time {
	font-size: 99px;
}

#message {
	font-size: 69px;
}

#getapp {
	color: #AA0077;
	font-size: 53px;
}
